<nav class="ui blue inverted menu">
  <header class="header item"> <a href="/admin">
      <i class="twitter icon"></i> Tweeter </a>
  </header>
  <div class="right menu">
    <a class="item" href="/admin"> Admin </a>
    <a id="logout" class="item" href="/logout"> <i class="icon sign out"></i> Logout </a>
  </div>
</nav>