<nav class="ui blue inverted menu">
    <header id="home" class="header item"><a href="/home">
        <i class="large twitter icon"></i> Tweeter </a>
    </header>
    <div class="right menu">
        <a id="profile" class="item" href="/viewtimeline"> <i class="icon user"></i> Profile </a>
        <div class="ui simple dropdown item">
            <i class="setting icon"></i>
            <div class="menu">
                <a id="settings" class="item" href="/settings"> <i class="icon write"></i> Settings </a>
                <a id="logout" class="item" href="/logout"> <i class="icon sign out"></i> Logout </a>
            </div>
        </div>
    </div>
</nav>

<script>
    $("#{{_id}}").addClass("active item");
</script>