{{#if isLoggedInUser}}
    {{> mainmenu _id="profile" }}
{{else}}
    {{> mainmenu }}
{{/if}}
<section class="ui raised segment">
    <div class="ui grid ">
        <div class="ui form six wide column">
            {{> tweet }}
        </div>
        {{#if tweets}}
            <aside class="ten wide column">
                {{#if tweetsDeletable}}
                    {{> deletabletimeline }}
                {{else}}
                    {{> timeline }}
                {{/if}}
            </aside>
        {{/if}}
    </div>
</section>