{{> mainmenu _id="profile" }}

<section class="ui raised segment">
    <div class="ui grid">
        <div class="ui form six wide column">
            {{> tweet }}
        </div>
        <aside class="ten wide column">
            {{> timeline }}
        </aside>
    </div>
</section>